@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import './sass/helpers/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grayish-cyan1;
}

header {
    img {
        display: block;
        margin: 3.125rem auto 2.5rem;
    }
}

.sr-only {
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
}

main {
    width: 100%;
    max-width: 920px;
    padding: $s-large 0;
    margin: 0 auto;
    background-color: $white;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.error, .title {
    font: 700 1rem/1.4812rem $font-family;
}

.error {
    display: none;
    color: $red;

    &--active {
        display: block;
    }
}

.title {
    &--cyan {
        color: $dark-grayish-cyan1;
    }

    &--white {
        color: $white;
    }
}

.subtitle {
    font: 700 0.8125rem/1.2031rem $font-family;
    color: $dark-grayish-cyan2;
}

input, .btn, button {
    display: block;
    font: 700 1.5rem/2.2212rem $font-family;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    
    &[disabled] {
        cursor: not-allowed;
    }
}


.container-form {
    padding: 0 $s-large $s-large;

    .input-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-text {
        position: relative;
        margin-top: 0.375rem;

        input {
            width: 100%;
            padding: 0.375rem 1.0925rem;
            color: $very-dark-cyan;
            text-align: right;
            background-color: $light-grayish-cyan2;

            &:focus, &.input--error {
                padding: 0.25rem 1.0925rem;
                outline: none;
            }

            &:focus {
                border: 2px solid $strong-cyan;
            }

            &.input--error {
                border: 2px solid $red;
            }
        }

        &--cash::before, 
        &--people::before {
            position: absolute;
            top: 0;
            left: 0;
        }

        &--cash::before {
            content: "";
            width: 11px;
            height: 17px;
            margin: 1rem 1.1875rem;
            background-image: url(./images/icon-dollar.svg);
        }

        &--people::before {
            content: "";
            width: 13px;
            height: 16px;
            margin: 1rem 1.1875rem;
            background-image: url(./images/icon-person.svg);
        }
    }

    & > h2 {
        margin-top: $s-large;
        margin-bottom: $s-regular;
    }

    .tip-buttons {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: $s-large;

        .btn {
            padding: 0.375rem 1rem;
            color: $white;
            background-color: $very-dark-cyan;

            &--active {
                color: $very-dark-cyan;
                background-color: $strong-cyan;
            }
        }

        .input-text {
            margin: 0;
        }
    }
}

.container-result {
    margin: 0 1.5rem;
    background-color: $very-dark-cyan;
    border-radius: 15px;
    padding: 2.3125rem 1.375rem 1.5rem 1.5rem;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1) {
            margin-bottom: 1.25rem;
        }

        .result {
            font: 700 2rem/2.9619rem $font-family;
            letter-spacing: -0.67px;
            color: $strong-cyan;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 0.5625rem 2rem;
        margin-top: $s-large;
        background-color: $strong-cyan;
        color: $very-dark-cyan;
        font-size: 1.25rem;
        line-height: 1.8513rem;
        text-transform: uppercase;

        &[disabled] {
            background-color: $disabled-dark-cyan;

            span {
                opacity: 0.35;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        img {
            margin: 10.1875rem auto 5.5rem;
        }
    }
    
    main {
        border-radius: 25px;
    }

    .container-form {
        .tip-buttons {
            gap: 1rem 0.875rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (min-width: 1200px) {
    main {
        height: 481px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 14.9375rem;
        padding: 2rem 2rem 2rem 3rem;
    }

    .container-form, .container-result {
        width: 50%;
    }

    .container-form {
        padding: 0;
        max-width: 379px;
        max-height: 388px;
        align-self: center;

        & > h2 {
            margin-top: 2.5rem;
        }

        .tip-buttons {
            margin-bottom: 2.5rem;
        }
    }

    .container-result {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem;
        margin: 0;
        max-width: 413px;

        .row {
            width: 100%;

            &:nth-child(1) {
                margin-bottom: 1.5625rem;
            }

            .result {
                font-size: 3rem;
                line-height: 4.4431rem;
                letter-spacing: -1px;
            }
        }

        button {
            margin-top: auto;

            &:not([disabled]):hover {
                background-color: $hover-strong-cyan;
            }
        }
    }
}