@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* Colors */
/* Spacing */
/* Font */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
}

header img {
  display: block;
  margin: 3.125rem auto 2.5rem;
}

main {
  width: 100%;
  max-width: 920px;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.error, .title {
  font: 700 1rem/1.4812rem "Space Mono", monospace;
}

.error {
  color: #e17456;
}

.title--cyan {
  color: #5e7a7d;
}
.title--white {
  color: white;
}

.subtitle {
  font: 700 0.8125rem/1.2031rem "Space Mono", monospace;
  color: #7f9c9f;
}

input, .btn, button {
  display: block;
  font: 700 1.5rem/2.2212rem "Space Mono", monospace;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
}
button[disabled] {
  cursor: not-allowed;
}

.container-form {
  padding: 0 2rem 2rem;
}
.container-form .input-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-form .input-text {
  position: relative;
  margin-top: 0.375rem;
}
.container-form .input-text input {
  width: 100%;
  padding: 0.375rem 1.0925rem;
  color: #00494d;
  text-align: right;
  background-color: #f4fafa;
}
.container-form .input-text--cash::before, .container-form .input-text--people::before {
  position: absolute;
  top: 0;
  left: 0;
}
.container-form .input-text--cash::before {
  content: "";
  width: 11px;
  height: 17px;
  margin: 1rem 1.1875rem;
  background-image: url(./images/icon-dollar.svg);
}
.container-form .input-text--people::before {
  content: "";
  width: 13px;
  height: 16px;
  margin: 1rem 1.1875rem;
  background-image: url(./images/icon-person.svg);
}
.container-form > h2 {
  margin-top: 2rem;
}
.container-form .tip-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.container-form .tip-buttons .btn, .container-form .tip-buttons .input-text {
  width: 47%;
}
.container-form .tip-buttons .btn {
  padding: 0.375rem 1rem;
  color: white;
  background-color: #00494d;
}
.container-form .tip-buttons .btn:not(:nth-last-child(2)) {
  margin-bottom: 1rem;
}
.container-form .tip-buttons .input-text {
  margin: 0;
}

.container-result {
  margin: 0 1.5rem;
  background-color: #00494d;
  border-radius: 15px;
  padding: 2.3125rem 1.375rem 1.5rem 1.5rem;
}
.container-result .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-result .row:nth-child(1) {
  margin-bottom: 1.25rem;
}
.container-result .row .result {
  font: 700 2rem/2.9619rem "Space Mono", monospace;
  letter-spacing: -0.67px;
  color: #26c0ab;
}
.container-result button {
  display: block;
  width: 100%;
  padding: 0.5625rem 2rem;
  margin-top: 2rem;
  color: #00494d;
  background-color: #26c0ab;
}
.container-result button[disabled] {
  background-color: #0d686d;
}

/*# sourceMappingURL=style.css.map */
