@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* Colors */
/* Spacing */
/* Font */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
}

header img {
  display: block;
  margin: 3.125rem auto 2.5rem;
}

.sr-only {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

main {
  width: 100%;
  max-width: 920px;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.error, .title {
  font: 700 1rem/1.4812rem "Space Mono", monospace;
}

.error {
  display: none;
  color: #e17456;
}
.error--active {
  display: block;
}

.title--cyan {
  color: #5e7a7d;
}
.title--white {
  color: white;
}

.subtitle {
  font: 700 0.8125rem/1.2031rem "Space Mono", monospace;
  color: #7f9c9f;
}

input, .btn, button {
  display: block;
  font: 700 1.5rem/2.2212rem "Space Mono", monospace;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
}
button[disabled] {
  cursor: not-allowed;
}

.container-form {
  padding: 0 2rem 2rem;
}
.container-form .input-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-form .input-text {
  position: relative;
  margin-top: 0.375rem;
}
.container-form .input-text input {
  width: 100%;
  padding: 0.375rem 1.0925rem;
  color: #00494d;
  text-align: right;
  background-color: #f4fafa;
}
.container-form .input-text input:focus, .container-form .input-text input.input--error {
  padding: 0.25rem 1.0925rem;
  outline: none;
}
.container-form .input-text input:focus {
  border: 2px solid #26c0ab;
}
.container-form .input-text input.input--error {
  border: 2px solid #e17456;
}
.container-form .input-text--cash::before, .container-form .input-text--people::before {
  position: absolute;
  top: 0;
  left: 0;
}
.container-form .input-text--cash::before {
  content: "";
  width: 11px;
  height: 17px;
  margin: 1rem 1.1875rem;
  background-image: url(./images/icon-dollar.svg);
}
.container-form .input-text--people::before {
  content: "";
  width: 13px;
  height: 16px;
  margin: 1rem 1.1875rem;
  background-image: url(./images/icon-person.svg);
}
.container-form > h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.container-form .tip-buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}
.container-form .tip-buttons .btn {
  padding: 0.375rem 1rem;
  color: white;
  background-color: #00494d;
}
.container-form .tip-buttons .btn--active {
  color: #00494d;
  background-color: #26c0ab;
}
.container-form .tip-buttons .input-text {
  margin: 0;
}

.container-result {
  margin: 0 1.5rem;
  background-color: #00494d;
  border-radius: 15px;
  padding: 2.3125rem 1.375rem 1.5rem 1.5rem;
}
.container-result .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-result .row:nth-child(1) {
  margin-bottom: 1.25rem;
}
.container-result .row .result {
  font: 700 2rem/2.9619rem "Space Mono", monospace;
  letter-spacing: -0.67px;
  color: #26c0ab;
}
.container-result button {
  display: block;
  width: 100%;
  padding: 0.5625rem 2rem;
  margin-top: 2rem;
  background-color: #26c0ab;
  color: #00494d;
  font-size: 1.25rem;
  line-height: 1.8513rem;
  text-transform: uppercase;
}
.container-result button[disabled] {
  background-color: #0d686d;
}
.container-result button[disabled] span {
  opacity: 0.35;
}

@media only screen and (min-width: 768px) {
  header img {
    margin: 10.1875rem auto 5.5rem;
  }

  main {
    border-radius: 25px;
  }

  .container-form .tip-buttons {
    gap: 1rem 0.875rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  main {
    height: 481px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14.9375rem;
    padding: 2rem 2rem 2rem 3rem;
  }

  .container-form, .container-result {
    width: 50%;
  }

  .container-form {
    padding: 0;
    max-width: 379px;
    max-height: 388px;
    align-self: center;
  }
  .container-form > h2 {
    margin-top: 2.5rem;
  }
  .container-form .tip-buttons {
    margin-bottom: 2.5rem;
  }

  .container-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem;
    margin: 0;
    max-width: 413px;
  }
  .container-result .row {
    width: 100%;
  }
  .container-result .row:nth-child(1) {
    margin-bottom: 1.5625rem;
  }
  .container-result .row .result {
    font-size: 3rem;
    line-height: 4.4431rem;
    letter-spacing: -1px;
  }
  .container-result button {
    margin-top: auto;
  }
  .container-result button:not([disabled]):hover {
    background-color: #a1e8df;
  }
}

/*# sourceMappingURL=style.css.map */
